
// Typography
// $fontRegular: "Interstate-400";
// $fontBold: "Interstate-700";
// $fontLight: "Interstate-300";
// $fontCondensedBold: "SwissBoldCondensed";

// Colours
$white: #ffffff;
$black: #000000;
$grey: #eeeeee;

