html, body {
    height: 100%;
    margin:0;
    position: relative;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: "Times New Roman", Times, serif;
    font-size:18px;
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
}

.h2, h2 {
    font-size:16px;
}

body, p, span, label, legend {
    font-family: "Times New Roman", Times, serif;
    font-size:14px;
    font-weight: normal;
    line-height: 1.2;
    color: inherit;
}

i {
    font-style: inherit;
}
