// @font-face {
//   font-family: "AvenirNext-400";
//   src:  url('~app/assets/fonts/AvenirNext-Regular.woff2') format('woff2'),
//         url("~app/assets/fonts/AvenirNext-Regular.woff") format("woff"),
//         url("~app/assets/fonts/AvenirNext-Regular.ttf") format("truetype");
//   font-style: normal;
//   font-weight: normal;
// }

// $fontRegular: "";
// $fontBold: "";
// $fontLight: "";
// $fontCondensedBold: "";

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: "Times New Roman", Times, serif;
  font-size:18px;
  font-weight: normal;
  line-height: 1.2;
  color: inherit;
}

.h2, h2 {
  font-size:16px;
}

body, p, span, div, label, legend {
  font-family: "Times New Roman", Times, serif;
  font-size:14px;
  font-weight: normal;
  line-height: 1.2;
  color: inherit;
}
